body {
    min-height: 100vh !important;
    background-color: rgb(137, 166, 227) !important;
}

.container {
    height: 94vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.question-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgba(0, 0, 0, 0.4);
    padding-top: 12px;
}

.card {
    width: 30rem;
}

.quiz-answer:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.04);
}

.bg-success,
.bg-danger {
    color: white !important;
}

.d-none {
    display: none;
}

.tropy-little {
    width: 50px;
    object-fit: cover;
}

.card-end-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.no-radius {
    border-radius: 0 !important;
}